@charset "UTF-8";
/*
    Colors:
    Tom de azul: #132a53
    Tom de ciano: #48cadb
    Tom de cinza azulado: #8192ab
    Preto: #000000
    Branco: #FFFFFF
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #132a53;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 540px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);

    transform: translate(-50%, -50%);
    transition: width .6s, height .6s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #132a53 url(../images/cartazesb.jpg);
    background-size: cover;
    background-position: right top;
    height: 200px;
}

section#login > div#forms {
    display: block;
    padding: 10px;

}

div#forms > h1 {
    text-align: center;
    margin-bottom: 10px;
    
}

div#forms > p {
    font-size: 0.8em;
    margin: 20px 0px;
    text-align: center;
}

form > div.campo {
    background-color: #245d7f;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: white;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0%;
    border-radius: 8px;
    padding: 3px;
    transform: translateY(-10px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #245d7f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

form > input[type=submit]:hover {
    background-color: #15374c;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #245d7f;
    border-radius: 5px;
    color: #245d7f;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
}

form > a.botao:hover {
    background-color: #accadb;
}

form > a.botao > span {
    font-size: 0.8em;
}

section > span#logo {
    display: block;
    float: bottom;
}